.center-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.med-padding {
    padding: .5em;
}

.large-padding {
    padding: 2em;
}


.border-right {
    border-right: 1px solid;
}

.med-margin {
    margin: 1em;
}
