.center-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.med-padding {
    padding: .25em;
}

.large-padding {
    padding: 2em;
}


.border-right {
    border-right: 1px solid;
}

.med-margin {
    margin: 1em;
}

/* 2 = med-padding, 5 =   { */
/*             margin: 0, */
/*             display: 'flex', */
/*             flexDirection: 'column', */
/*             justifyContent: 'center', */
/*             alignItems: 'flex-start', */
/*             padding: '0em 1em' */
/*         }, try center-flex-column and add padding? */
