
.base {    
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.base-item {
    padding: 0 1em;
}

.outside-container {    
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outside-container-item {
    padding: .5em 0;
}

.inside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

.inside-container-item {
    padding: 0 1em;
}

.text-item {
    padding: 0 .25em;
}

.left-side-equation {
    margin-right: .5em;
}

.button {
    font-size: 1em;
    padding: .15em .4em;
}
