
.noOutline {    
    outline: none;
}

.container {    
    position: absolute;
    height: 100%;
    width: 100%;
    outline: 'none';
    display: 'block';
    background: gray;
}

.canvas {    
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    outline: 'none';
    display: 'block';
}

