
.noOutline {    
    outline: none;
    touch-action: none;
}

.container {    
    position: absolute;
    height: 100%;
    width: 100%;
    outline: 'none';
    display: 'block';
    background: gray;
    touch-action: none;
}

.canvas {    
    height: 100%;
    width: 100%;
    outline: none;
    display: 'block';
    touch-action: none;
}

.photo-button {
     position: absolute;
     top: 70%;
     left: 5%;
     padding: 1%;
     font-size: 2.5rem;
     border: 1px;     
     border-style: solid;
     border-radius: 50%;
     cursor: pointer
};
