
.time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}

.play-pause-button {
    margin: 1em;
    padding: 1em;
    border: solid 2px;
    flex: 2;
}
