.center-flex-row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

.center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.text-align-center {
    text-align: center;
}

.fixed-width-twelve-em {
    width: 12em;
}

.very-small-padding {
    padding: .25em;
}


.small-padding {
    padding: .25em;
}

.med-padding {
    padding: .5em;
}

.large-padding {
    padding: 2em;
}

.zero-margin {
    margin: 0;
}

.border-right {
    border-right: 1px solid;
}

.border-left {
    border-left: 1px solid;
}

.med-margin {
    margin: 1em;
}

.med-large-top-side-padding {
    padding: .5em 1em;
}

.med-vlarge-top-side-padding {
    padding: .5em 2.5em;
}

.zero-small-top-side-padding {
    padding: 0em .25em;
}

.zero-med-top-side-padding {
    padding: 0em .5em;
}

.zero-large-top-side-padding {
    padding: 0em 1em;
}

.small-zero-top-side-padding {
    padding: .25em 0em;
}

.med-zero-top-side-padding {
    padding: .5em 0em;
}

.font-size-med-large {
    font-size: 1.25em;
}

.text-align-center {
    text-align: center;
}

.white-space-no-wrap {
    white-space: no-wrap;
}


.noOutline {    
    outline: none;
}

.container {    
    position: absolute;
    height: 100%;
    width: 100%;
    outline: 'none';
    display: 'block';
    background: gray;
}

.canvas {    
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0%;
    outline: 'none';
    display: 'block';
}

